<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>

  <targets>
    <target name="file" xsi:type="File"  fileName="C:\Users\Elchin\Desktop\myapplication.log"  layout="${longdate}|${level}|${callsite}|${logger}|${threadid}|${windows-identity:domain=false}--${message} ${exception:format=message,stacktrace:separator=*"   />
    <!--<target name="database" xsi:type="Database" connectionString="nlog" commandType="StoredProcedure" commandText="insert into log ">
      <parameter name="@time_stamp" layout="${longdate}"/>
      <parameter name="@level" layout="${level}"/>
      <parameter name="@logger" layout="${logger}"/>
      <parameter name="@message" layout="${message}"/>
      <parameter name="@machinename" layout="${machinename}"/>
      <parameter name="@log_exception" layout="${exception}"/>
    </target>-->
  </targets>
  <rules>
    <logger name="*" minlevel="Info" writeTo="file"/>
    <!--<logger name="*" minlevel="Info" writeTo="database"/>-->
  </rules>
</nlog>
